[Unit]
Description=PIA openvpn access

[Service]
EnvironmentFile=%h/.config/systemd/env.conf
WorkingDirectory=%h/.config/openvpn
Environment=OVPN_FILE=Netherlands.ovpn
ExecStartPre=/usr/bin/sh -c "/usr/bin/docker rm openvpn-systemd  || true"
ExecStart=/usr/bin/docker-compose run --name "openvpn-systemd" vpn ${OVPN_FILE}
ExecStop=/usr/bin/docker stop openvpn-systemd
ExecStopPost=/usr/bin/docker rm "openvpn-systemd"
Restart=always

[Install]
WantedBy=default.target